# Ignore everything
*

# Include Go source files
!cmd/
!internal/
!pkg/
!go.mod
!go.sum

# Include Node.js build files
!package.json
!scripts/

# Include web assets
!web/

# Ignore node_modules and source CSS
web/static/css/tailwind.css
